# Зависимости (самое важное, чтобы не грузить гигабайты)
node_modules/
.pnp
.pnp.js

# Сборка Next.js
.next/
out/
build/

# Локальные переменные окружения (ключи, пароли)
.env*.local

# Логи
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Системные файлы (особенно для Mac и VS Code)
.DS_Store
.vscode/
.idea/